<% include ../header %>
<script src="/socket.io/socket.io.js"></script>
<script>
	var socket = io.connect('http://localhost:3000');
	socket.on('send-client', function (msg) {
		document.getElementById('chat');
		chat.innerHTML += msg;
	});
	var enviar = function () {
		var msg = document.getElementById('msg');
		socket.emit('send-server', msg.value);
	};
</script>
<header>
 	<h2>Ntalk - Chat</h2>
</header> 
<section class="row-fluid">
	<pre id="chat"></pre>
	<input type="text" id="msg" placeholder="Mensagem">
	<input type="button" onclick="enviar();" value="Enviar">
</section>
<% include ../exit %>
<% include ../footer %>