<% include ../header %>
<script src="/socket.io/socket.io.js"></script>
<script>
<header class="row-fluid text-center">
 	<h2>Ntalk - Chat</h2>
</header> 
<section class="row-fluid">
	<pre id="chat"></pre>
	<input type="text" id="msg" placeholder="Mensagem">
	<input type="button" onclick="enviar();" value="Enviar">
</section>
<% include ../exit %>
<% include ../footer %>