<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel='stylesheet' href='/stylesheets/style.css' />
    	<script src="/javascripts/zepto.min.js"></script>
		<title>Ntalk - Agenda de Contatos</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/zepto.min.js"></script>
	</head>
	<body>