<% include header %>
<header class="row-fluid text-center">
	<h1>Ntalk</h1>
	<h4>Aconteceu algo terrível! :(</h4>
</header>
<p>
	Veja os detalhes do erro:
	<br>
	<%- error.message %>
	</p>
<hr>
<p>
	Que tal voltar a
	<a href="/">home page?</a>
	:)
</p>
<% include footer %>