<% include ../header %>
		<header>
			<h1>Ntalk</h1>
			<h4>Bem Vindo!</h4>
		</header>
		<section>
			<form action="/entrar" method="post">
				<input type="text" name="usuario[nome]" placeholder="Digite o Nome">
				<br>
				<input type="text" name="usuario[email]" placeholder="Digite o Email">
				<br>
				<button type="submit">Entrar</button>
			</form>
		</section>
<% include ../footer %>