<% include ../header %>
<header class="row-fluid text-center">
		<h2>Ntalk - Agenda de Contatos</h2>
	</header>
<section class="row-fluid">
	<section>
		<table class="table well">
			<thead>
				<tr>
					<th>Nome</th>
					<th>E-mail</th>
					<th>Ação</th>
				</tr>
			</thead>
			<tbody>
				<% contatos.forEach(function(contato, index) { %>
				<tr>
					<td><%- contato.nome %></td>
					<td><%- contato.email %></td>
					<td>
						<a href="/contato/<%- index %>">Detalhes</a>
						<a href="/chat/<%- contato.email %>">Conversar</a>
					</td>
				</tr>
				<% }) %>
			</tbody>
		</table>
	</section>
	<% include ../exit %>
	<% include ../footer %>
